# **NYC Taxi Fair Prediction**
---

## **Importing Data**

In [1]:
# disable warnings
import warnings
warnings. filterwarnings('ignore')

In [2]:
# reading data
import pandas as pd
import numpy as np

df = pd.read_csv('taxi_tripdata.csv')
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,1.0,2021-07-01 00:30:52,2021-07-01 00:35:36,N,1.0,74,168,1.0,1.20,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2.0,1.0,0.0
1,2.0,2021-07-01 00:25:36,2021-07-01 01:01:31,N,1.0,116,265,2.0,13.69,42.0,0.5,0.5,0.00,0.0,NaN,0.3,43.30,2.0,1.0,0.0
2,2.0,2021-07-01 00:05:58,2021-07-01 00:12:00,N,1.0,97,33,1.0,0.95,6.5,0.5,0.5,2.34,0.0,NaN,0.3,10.14,1.0,1.0,0.0
3,2.0,2021-07-01 00:41:40,2021-07-01 00:47:23,N,1.0,74,42,1.0,1.24,6.5,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2.0,1.0,0.0
4,2.0,2021-07-01 00:51:32,2021-07-01 00:58:46,N,1.0,42,244,1.0,1.10,7.0,0.5,0.5,0.00,0.0,NaN,0.3,8.30,2.0,1.0,0.0

## **Viewing Data**

In [3]:
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83691 entries, 0 to 83690
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               51173 non-null  float64
 1   lpep_pickup_datetime   83691 non-null  object
 2   lpep_dropoff_datetime  83691 non-null  object
 3   store_and_fwd_flag     51173 non-null  object
 4   RatecodeID             51173 non-null  float64
 5   PULocationID           83691 non-null  int64
 6   DOLocationID           83691 non-null  int64
 7   passenger_count        51173 non-null  float64
 8   trip_distance          83691 non-null  float64
 9   fare_amount            83691 non-null  float64
 10  extra                  83691 non-null  float64
 11  mta_tax                83691 non-null  float64
 12  tip_amount             83691 non-null  float64
 13  tolls_amount           83691 non-null  float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  83691 non-null  float64
 16  total_amount           83691 non-null  float64
 17  payment_type           51173 non-null  float64
 18  trip_type              51173 non-null  float64
 19  congestion_surcharge   51173 non-null  float64
dtypes: float64(15), int64(2), object(3)
memory usage: 12.8+ MB

In [5]:
df.describe()

,VendorID,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
count,51173.000000,51173.000000,83691.000000,83691.000000,51173.000000,83691.000000,83691.000000,83691.000000,83691.000000,83691.000000,83691.000000,0.0,83691.000000,83691.000000,51173.000000,51173.000000,51173.000000
mean,1.851113,1.159244,108.362572,133.270005,1.307858,194.354699,20.388305,1.156707,0.293562,1.058618,0.624529,NaN,0.297745,24.204836,1.421726,1.034393,0.642815
std,0.355981,0.773260,70.370170,77.216791,0.984362,4405.549221,15.583552,1.367897,0.247773,2.368771,1.990481,NaN,0.031219,17.262183,0.511146,0.182239,1.164219
min,1.000000,1.000000,3.000000,1.000000,0.000000,0.000000,-150.000000,-4.500000,-0.500000,-1.140000,0.000000,NaN,-0.300000,-150.300000,1.000000,1.000000,-2.750000
25%,2.000000,1.000000,56.000000,69.000000,1.000000,1.350000,9.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.300000,11.760000,1.000000,1.000000,0.000000
50%,2.000000,1.000000,75.000000,132.000000,1.000000,2.760000,16.000000,0.500000,0.500000,0.000000,0.000000,NaN,0.300000,19.800000,1.000000,1.000000,0.000000
75%,2.000000,1.000000,166.000000,205.000000,1.000000,6.200000,26.830000,2.750000,0.500000,1.660000,0.000000,NaN,0.300000,31.300000,2.000000,1.000000,0.000000
max,2.000000,5.000000,265.000000,265.000000,32.000000,260517.930000,480.000000,8.250000,0.500000,87.710000,30.050000,NaN,0.300000,480.310000,5.000000,2.000000,2.750000

## **Data Cleaning and Preprocessing**
---

In [6]:
df.drop(['VendorID', 'ehail_fee'], axis = 1, inplace = True)
df.head()

,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2021-07-01 00:30:52,2021-07-01 00:35:36,N,1.0,74,168,1.0,1.20,6.0,0.5,0.5,0.00,0.0,0.3,7.30,2.0,1.0,0.0
1,2021-07-01 00:25:36,2021-07-01 01:01:31,N,1.0,116,265,2.0,13.69,42.0,0.5,0.5,0.00,0.0,0.3,43.30,2.0,1.0,0.0
2,2021-07-01 00:05:58,2021-07-01 00:12:00,N,1.0,97,33,1.0,0.95,6.5,0.5,0.5,2.34,0.0,0.3,10.14,1.0,1.0,0.0
3,2021-07-01 00:41:40,2021-07-01 00:47:23,N,1.0,74,42,1.0,1.24,6.5,0.5,0.5,0.00,0.0,0.3,7.80,2.0,1.0,0.0
4,2021-07-01 00:51:32,2021-07-01 00:58:46,N,1.0,42,244,1.0,1.10,7.0,0.5,0.5,0.00,0.0,0.3,8.30,2.0,1.0,0.0

- Removing **`NULL`** values

In [7]:
# checking for null values
df.isna().sum()

lpep_pickup_datetime         0
lpep_dropoff_datetime        0
store_and_fwd_flag       32518
RatecodeID               32518
PULocationID                 0
DOLocationID                 0
passenger_count          32518
trip_distance                0
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
payment_type             32518
trip_type                32518
congestion_surcharge     32518
dtype: int64

- The features such as `store_and_fwd_flag`, `RatecodeID`, `passenger_count`, `payment_type`, `trip_type` and `congestion_surcharge` contain a large amount of `NaN` values. We first check if there is a relationship between these features and the target variable `total_amount`. If not, we remove them.

### **Feature Selection**
We check if the features have a string relationship with the target variable.

In [8]:
features = ['store_and_fwd_flag', 'RatecodeID', 'payment_type', 'trip_type']

for feature in features:
    print(df[feature].unique())

['N' 'Y' nan]
[ 1.  5.  2.  4.  3. nan]
[ 2.  1.  4.  3.  5. nan]
[ 1.  2. nan]

For the feature `store_and_fwd_flag`, we use a `t-Test` to determine if there is a relationship between itself and `total_amount`

In [9]:
from scipy import stats

# create a subset of the data and drop rows with NaN values
data = df[['store_and_fwd_flag', 'total_amount']].dropna()

# separate the data into two groups based on 'store_and_fwd_flag'
group_n = data[data['store_and_fwd_flag'] == 'N']['total_amount']
group_y = data[data['store_and_fwd_flag'] == 'Y']['total_amount']

# Normalize the data using z-score normalization
group_n_normalized = stats.zscore(group_n)
group_y_normalized = stats.zscore(group_y)

# perform the t-test
t_stat, p_value = stats.ttest_ind(group_n, group_y)

# print the results
print(f"T-statistic: {t_stat:.4f}")
print(f"P-value: {p_value:.4f}")

# null hypothesis
null_hypothesis = "There is no difference in total_amount between store_and_fwd_flag 'N' and 'Y'"

# interpretation
if p_value < 0.05:
    print(f"Reject null hypothesis: {null_hypothesis}")
else:
    print(f"Fail to reject null hypothesis: {null_hypothesis}")

T-statistic: 3.5407
P-value: 0.0004
Reject null hypothesis: There is no difference in total_amount between store_and_fwd_flag 'N' and 'Y'

- Since we can reject the null hypothesis, it means that there is a significant relationship between `store_and_fwd_flag` and `total_amount`, so we keep this feature.

For the feature `payment_type`, we use a `t-Test` to determine if there is a relationship between itself and `total_amount`

In [10]:
# create a subset of the data and drop rows with NaN values
data = df[['payment_type', 'total_amount']].dropna()

# separate the data into two groups based on 'payment_type'
group_n = data[data['payment_type'] == 1.]['total_amount']
group_y = data[data['payment_type'] == 2.]['total_amount']

# Normalize the data using z-score normalization
group_n_normalized = stats.zscore(group_n)
group_y_normalized = stats.zscore(group_y)

# perform the t-test
t_stat, p_value = stats.ttest_ind(group_n, group_y)

# print the results
print(f"T-statistic: {t_stat:.4f}")
print(f"P-value: {p_value:.4f}")

# null hypothesis
null_hypothesis = "There is no difference in total_amount between payment_type 'N' and 'Y'"

# interpretation
if p_value < 0.05:
    print(f"Reject null hypothesis: {null_hypothesis}")
else:
    print(f"Fail to reject null hypothesis: {null_hypothesis}")

T-statistic: 64.3878
P-value: 0.0000
Reject null hypothesis: There is no difference in total_amount between payment_type 'N' and 'Y'

- Since we can reject the null hypothesis, it means that there is a significant relationship between `payment_type` and `total_amount`, so we keep this feature.

For the feature `trip_type`, we use a `t-Test` to determine if there is a relationship between itself and `total_amount`

In [11]:
# create a subset of the data and drop rows with NaN values
data = df[['trip_type', 'total_amount']].dropna()

# separate the data into two groups based on 'payment_type'
group_n = data[data['trip_type'] == 1.]['total_amount']
group_y = data[data['trip_type'] == 2.]['total_amount']

# Normalize the data using z-score normalization
group_n_normalized = stats.zscore(group_n)
group_y_normalized = stats.zscore(group_y)

# perform the t-test
t_stat, p_value = stats.ttest_ind(group_n, group_y)

# print the results
print(f"T-statistic: {t_stat:.4f}")
print(f"P-value: {p_value:.4f}")

# null hypothesis
null_hypothesis = "There is no difference in total_amount between trip_type 1 and 2"

# interpretation
if p_value < 0.05:
    print(f"Reject null hypothesis: {null_hypothesis}")
else:
    print(f"Fail to reject null hypothesis: {null_hypothesis}")

T-statistic: -8.4741
P-value: 0.0000
Reject null hypothesis: There is no difference in total_amount between trip_type 1 and 2

- Since we can reject the null hypothesis, it means that there is a significant relationship between `trip_type` and `total_amount`, so we keep this feature.

For the feature `RatecodeID`, we use a `Annova Test` to determine if there is a relationship between itself and `total_amount`

In [12]:
from scipy.stats import f_oneway
from scipy.stats import zscore

# Drop rows with NaN values
data = df[['RatecodeID', 'total_amount']].dropna()

# Normalize 'total_amount' within each 'RatecodeID' group using z-score normalization
data['total_amount_normalized'] = data.groupby('RatecodeID')['total_amount'].transform(zscore)

# Create separate arrays for each RatecodeID category
group1 = data[data['RatecodeID'] == 1]['total_amount']
group2 = data[data['RatecodeID'] == 2]['total_amount']
group3 = data[data['RatecodeID'] == 3]['total_amount']
group4 = data[data['RatecodeID'] == 4]['total_amount']
group5 = data[data['RatecodeID'] == 5]['total_amount']

# Perform ANOVA
f_stat, p_value = f_oneway(group1, group2, group3, group4, group5)

# Print the results
print(f"F-statistic: {f_stat:.4f}")
print(f"P-value: {p_value:.4f}")

# Interpretation
alpha = 0.05
if p_value < alpha:
    print("Reject null hypothesis: There is a relationship between RatecodeID and total_amount")
else:
    print("Fail to reject null hypothesis: There might not be a relationship between RatecodeID and total_amount")

F-statistic: 527.1217
P-value: 0.0000
Reject null hypothesis: There is a relationship between RatecodeID and total_amount

- Since we can reject the null hypothesis, it means that there is a significant relationship between `RatecodeID` and `total_amount`, so we keep this feature.

In [13]:
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)
df.head()

,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2021-07-01 00:30:52,2021-07-01 00:35:36,N,1.0,74,168,1.0,1.20,6.0,0.5,0.5,0.00,0.0,0.3,7.30,2.0,1.0,0.0
1,2021-07-01 00:25:36,2021-07-01 01:01:31,N,1.0,116,265,2.0,13.69,42.0,0.5,0.5,0.00,0.0,0.3,43.30,2.0,1.0,0.0
2,2021-07-01 00:05:58,2021-07-01 00:12:00,N,1.0,97,33,1.0,0.95,6.5,0.5,0.5,2.34,0.0,0.3,10.14,1.0,1.0,0.0
3,2021-07-01 00:41:40,2021-07-01 00:47:23,N,1.0,74,42,1.0,1.24,6.5,0.5,0.5,0.00,0.0,0.3,7.80,2.0,1.0,0.0
4,2021-07-01 00:51:32,2021-07-01 00:58:46,N,1.0,42,244,1.0,1.10,7.0,0.5,0.5,0.00,0.0,0.3,8.30,2.0,1.0,0.0

In [14]:
df.isna().sum()

lpep_pickup_datetime     0
lpep_dropoff_datetime    0
store_and_fwd_flag       0
RatecodeID               0
PULocationID             0
DOLocationID             0
passenger_count          0
trip_distance            0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
payment_type             0
trip_type                0
congestion_surcharge     0
dtype: int64

### **Feature Engineering**

Extracting total trip time from `pickup` and `dropoff` time durations.

In [15]:
# Convert pickup and dropoff datetime columns to datetime type
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])

# Calculate trip duration in seconds (assuming it's a timedelta)
df['trip_duration(mins)'] = ((df['lpep_dropoff_datetime'] - df['lpep_pickup_datetime']).dt.total_seconds()/60).astype(int)

df.head()

,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,trip_duration(mins)
0,2021-07-01 00:30:52,2021-07-01 00:35:36,N,1.0,74,168,1.0,1.20,6.0,0.5,0.5,0.00,0.0,0.3,7.30,2.0,1.0,0.0,4
1,2021-07-01 00:25:36,2021-07-01 01:01:31,N,1.0,116,265,2.0,13.69,42.0,0.5,0.5,0.00,0.0,0.3,43.30,2.0,1.0,0.0,35
2,2021-07-01 00:05:58,2021-07-01 00:12:00,N,1.0,97,33,1.0,0.95,6.5,0.5,0.5,2.34,0.0,0.3,10.14,1.0,1.0,0.0,6
3,2021-07-01 00:41:40,2021-07-01 00:47:23,N,1.0,74,42,1.0,1.24,6.5,0.5,0.5,0.00,0.0,0.3,7.80,2.0,1.0,0.0,5
4,2021-07-01 00:51:32,2021-07-01 00:58:46,N,1.0,42,244,1.0,1.10,7.0,0.5,0.5,0.00,0.0,0.3,8.30,2.0,1.0,0.0,7

- Reordering and renaming columns

In [16]:
# selecting just relevant columns
df = df[['store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID', 'payment_type', 'trip_type', 'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'congestion_surcharge', 'trip_duration(mins)', 'total_amount']]

# renaming columns
df.columns = ['flag', 'rate_id', 'pickup_id', 'dropoff_id', 'payment_type', 'trip_type', 'passengers', 'distance', 'fare', 'extras', 'tax', 'tip', 'toll', 'improvement', 'congestion', 'duration', 'total']

# encoding 'flag'
df['flag'] = df['flag'].map({'N': 0, 'Y': 1})

df.head()

,flag,rate_id,pickup_id,dropoff_id,payment_type,trip_type,passengers,distance,fare,extras,tax,tip,toll,improvement,congestion,duration,total
0,0,1.0,74,168,2.0,1.0,1.0,1.20,6.0,0.5,0.5,0.00,0.0,0.3,0.0,4,7.30
1,0,1.0,116,265,2.0,1.0,2.0,13.69,42.0,0.5,0.5,0.00,0.0,0.3,0.0,35,43.30
2,0,1.0,97,33,1.0,1.0,1.0,0.95,6.5,0.5,0.5,2.34,0.0,0.3,0.0,6,10.14
3,0,1.0,74,42,2.0,1.0,1.0,1.24,6.5,0.5,0.5,0.00,0.0,0.3,0.0,5,7.80
4,0,1.0,42,244,2.0,1.0,1.0,1.10,7.0,0.5,0.5,0.00,0.0,0.3,0.0,7,8.30

- Removing **`DUPLICATE`** values

In [17]:
# checking for duplicate values
df.duplicated().sum()

886

In [18]:
# dropping duplicate values
df.drop_duplicates(inplace=True)
df.reset_index(drop=True, inplace=True)

# checking again after dropping duplicate values
df.duplicated().sum()

0

In [19]:
cat_cols = ['flag', 'rate_id', 'pickup_id', 'dropoff_id', 'payment_type', 'trip_type']
num_cols = ['passengers', 'distance', 'fare', 'extras', 'tax', 'tip', 'toll', 'improvement', 'congestion', 'duration']
target = ['total']

### **Standardizing Data**

In [20]:
from sklearn.preprocessing import StandardScaler

# Standard Scaling of numerical columns
scaler = StandardScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])

df.head()

,flag,rate_id,pickup_id,dropoff_id,payment_type,trip_type,passengers,distance,fare,extras,tax,tip,toll,improvement,congestion,duration,total
0,0,1.0,74,168,2.0,1.0,-0.315349,-0.504976,-0.627110,0.218271,0.199744,-0.534823,-0.228292,0.083214,-0.55791,-0.196545,7.30
1,0,1.0,116,265,2.0,1.0,0.693492,2.185515,1.833384,0.218271,0.199744,-0.534823,-0.228292,0.083214,-0.55791,0.119601,43.30
2,0,1.0,97,33,1.0,1.0,-0.315349,-0.558829,-0.592936,0.218271,0.199744,0.361088,-0.228292,0.083214,-0.55791,-0.176148,10.14
3,0,1.0,74,42,2.0,1.0,-0.315349,-0.496359,-0.592936,0.218271,0.199744,-0.534823,-0.228292,0.083214,-0.55791,-0.186347,7.80
4,0,1.0,42,244,2.0,1.0,-0.315349,-0.526517,-0.558763,0.218271,0.199744,-0.534823,-0.228292,0.083214,-0.55791,-0.165950,8.30

### **Splitting Data**

In [21]:
from sklearn.model_selection import train_test_split
# Split data into features and target
X = df[cat_cols + num_cols]
y = df['total']

# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## **Model Prediction**

### **Decision Tree Regressor**

In [22]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Train the DecisionTreeRegressor model
dt_model = DecisionTreeRegressor(random_state=42)
dt_model.fit(X_train, y_train)

# Predict on the test set
y_pred = dt_model.predict(X_test)

# Evaluate the model
mae_dt = mean_absolute_error(y_test, y_pred)
mse_dt = mean_squared_error(y_test, y_pred)
rmse_dt = np.sqrt(mse_dt)
r2_dt = r2_score(y_test, y_pred)

print(f'Mean Absolute Error: {mae_dt}')
print(f'Mean Squared Error: {mse_dt}')
print(f'Root Mean Squared Error: {rmse_dt}')
print(f'R-squared: {r2_dt}')

Mean Absolute Error: 0.1257277788824915
Mean Squared Error: 0.6987401570888843
Root Mean Squared Error: 0.8359067873207421
R-squared: 0.9972246575852314

### **Random Forest Regressor**

In [23]:
from sklearn.ensemble import RandomForestRegressor

# Train the RandomForestRegressor model
rfr_model = RandomForestRegressor(random_state=42)
rfr_model.fit(X_train, y_train)

# Predict on the test set
y_pred = rfr_model.predict(X_test)

# Evaluate the model
mae_rfr = mean_absolute_error(y_test, y_pred)
mse_rfr = mean_squared_error(y_test, y_pred)
rmse_rfr = np.sqrt(mse_rfr)
r2_rfr = r2_score(y_test, y_pred)

print(f'Mean Absolute Error: {mae_rfr}')
print(f'Mean Squared Error: {mse_rfr}')
print(f'Root Mean Squared Error: {rmse_rfr}')
print(f'R-squared: {r2_rfr}')

Mean Absolute Error: 0.09908903360510131
Mean Squared Error: 0.38663342838237996
Root Mean Squared Error: 0.6217985432456239
R-squared: 0.9984643216196024

### **Gradient Boost Regressor**

In [24]:
from sklearn.ensemble import GradientBoostingRegressor

# Train the GradientBoostingRegressor model
gbr_model = GradientBoostingRegressor(random_state=42)
gbr_model.fit(X_train, y_train)

# Predict on the test set
y_pred_gbr = gbr_model.predict(X_test)

# Evaluate the model
mae_gbr = mean_absolute_error(y_test, y_pred_gbr)
mse_gbr = mean_squared_error(y_test, y_pred_gbr)
rmse_gbr = np.sqrt(mse_gbr)
r2_gbr = r2_score(y_test, y_pred_gbr)

print(f'Gradient Boosting Regressor Results:')
print(f'Mean Absolute Error: {mae_gbr}')
print(f'Mean Squared Error: {mse_gbr}')
print(f'Root Mean Squared Error: {rmse_gbr}')
print(f'R-squared: {r2_gbr}')

Gradient Boosting Regressor Results:
Mean Absolute Error: 0.30857526662882373
Mean Squared Error: 0.31620069673791545
Root Mean Squared Error: 0.5623172563045842
R-squared: 0.9987440750380052

### **XGBoost Regressor**

In [25]:
import xgboost as xgb

# Train the XGBoost Regressor model
xgb_model = xgb.XGBRegressor(objective='reg:squarederror', random_state=42)
xgb_model.fit(X_train, y_train)

# Predict on the test set
y_pred_xgb = xgb_model.predict(X_test)

# Evaluate the model
mae_xgb = mean_absolute_error(y_test, y_pred_xgb)
mse_xgb = mean_squared_error(y_test, y_pred_xgb)
rmse_xgb = np.sqrt(mse_xgb)
r2_xgb = r2_score(y_test, y_pred_xgb)

print(f'XGBoost Regressor Results:')
print(f'Mean Absolute Error: {mae_xgb}')
print(f'Mean Squared Error: {mse_xgb}')
print(f'Root Mean Squared Error: {rmse_xgb}')
print(f'R-squared: {r2_xgb}')

XGBoost Regressor Results:
Mean Absolute Error: 0.2761010113716582
Mean Squared Error: 2.802764653676647
Root Mean Squared Error: 1.6741459475435967
R-squared: 0.9888676333497555

## **Testing Models with Examples**

In [26]:
test = list(X_test.iloc[87])
test = np.array(test).reshape(1, -1)

# printing predicted fares
print(f'Fare predicted with Decision Tree Regressor: {(xgb_model.predict(test))}')
print(f'Fare predicted with Random Forest Regressor: {(rfr_model.predict(test))}')
print(f'Fare predicted with Gradient Boost Regressor: {(gbr_model.predict(test))}')
print(f'Fare predicted with XGBoost Regressor: {(xgb_model.predict(test))}')
print('--------------------------------------------------------------')
print(f'The actual fare is: {y_test.iloc[87]}')

Fare predicted with Decision Tree Regressor: [24.82568]
Fare predicted with Random Forest Regressor: [25.055]
Fare predicted with Gradient Boost Regressor: [25.03148028]
Fare predicted with XGBoost Regressor: [24.82568]
--------------------------------------------------------------
The actual fare is: 25.05